/*Cabeçalho*/
.cabecalho {
  min-width: clamp(356px, 448px, 1440px);
  border: 1px solid rgb(255, 0, 43);
  border-radius: 10px;
  position: fixed;
  top: 10px;
  right: 50px;
  left: 50px;
  background-color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0px;
}

main {
  margin-top: 100px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

.menu a:hover {
  color: rgb(255, 0, 136);
}

ul {
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Corpo*/
body {
  background-color: black;
  color: white;
  font-family: "Nunito", sans-serif;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 20px;
}

/*Rodape*/
footer {
  min-width: clamp(356px, 448px, 1440px);
  border: 1px solid rgb(255, 0, 43);
  border-radius: 20px;
}

#h2Footer {
  font-size: 25px;
  margin: 5px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
}

footer p {
  font-weight: 600;
}

footer h3,
p {
  margin-left: 15px;
}

#git a {
  float: right;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

#git a:hover{
  color: rgb(255, 0, 136);
}
